
/* Style the text area itself */
.text-area {
    width: 100%;
    height: 200px;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
    transition: border-color 0.3s;
}

.formItem {
    margin-bottom:20px;
}

.btn {
    font-size: 18px;
    border-radius: 10px;
    padding: 10px;
    width: 280px;
    height: 60px;
  }

  .align-right {
    text-align: right;
  }